<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Equipamentos</title>
        <link rel="stylesheet" href="css/materialize.min.css">
        <link rel="stylesheet" href="css/styles.css">
	</head>

	<body class="">
        <!-- Navbar page -->
		<nav>
			<div class="nav-wrapper indigo">
				<a href="#" class="brand-logo">Stock App</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/">Home</a></li>
					<li><a href="/retiradas">Retiradas</a></li>
					<li><a href="/categorias">Categorias</a></li>
					<li><a href="/tecnicos">Técnicos</a></li>
					<li><a href="/motivos">Motivos</a></li>
					<li><a href="/estado_fisico">Estados</a></li>
					<li><a href="/equipamentos">Equipamentos</a></li>
				</ul>
			</div>
		</nav>
        <div class="container principal">
            <h3 class="center-align">Em construção</h3>
        </div>

		<!-- Compiled and minified CSS -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		/>

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</body>
</html>
